<footer class="footer">
	<small>
		List Local by <a href="http://www.kentvalentine.com">Kent Valentine</a>.
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",	about_path %></li>
			<li><%= link_to "Contact",	contact_path %></li>
			<li><a href="http://news.railtutorial.org/">News</a></li>
		</ul>
	</nav>
</footer>
